<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">Benetech ServiceNet Creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.creation.text1}">
            Your Benetech ServiceNet account has been created, please click on the URL below to access it:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span>Regards, </span>
            <br/>
            <span>Benetech ServiceNet Team</span>
        </p>
    </body>
</html>
